.basic-card__text-big {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.basic-card__text-small {
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
