.cooperation--light {
  background-color: @color-bg-light;
}

.cooperation--dark {
  background-color: @color-bg-dark;
}

.cooperation__title {
  font-family: "Oswald", sans-serif;
  color: @color-text-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.cooperation__link {
  font-family: "Lato", sans-serif;
  color: @color-text-primary;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}
