.link-navigation {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @color-title-primary;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: normal;

    &--white {
      color: @color-text-light;
    }
  }
}
