.page-footer {
  display: flex;
  flex-direction: column;
  background-color: @color-bg-dark;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 40px 0;
}

.page-footer__logo-link {
  align-self: center;
  display: block;
  text-align: center;
}

.page-footer__social {
  align-self: center;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 63px 0;
  }

  .page-footer__logo-link {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper-cooperation {
    display: grid;
    grid-template-columns: auto 1220px auto;
    grid-template-rows: repeat(3, auto);
  }

  .page-footer__cooperation {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: auto;
    z-index: 1;
  }

  .page-footer__map {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .page-footer__wrapper {
    padding: 66px 0;
  }
}
