.program {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 33px 18px 20px;
  background-color: @color-bg-dark;
}

.program__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  color: @color-title-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.program__description {
  margin: 0;
  margin-bottom: 38px;
}

.program__link {
  box-sizing: border-box;
  display: block;
  padding: 4px 47px 4px 0;
  font-family: "Oswald", sans-serif;
  color: @color-title-primary;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .program {
    padding: 77px 316px 57px 52px;
  }

  .program__title {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .program__description {
    margin-bottom: 52px;
    color: @color-title-primary;
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    padding-right: 57px;
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: 570px;
    padding: 77px 61px 59px 52px;
  }

  .program__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }

  .program__description {
    margin-bottom: 27px;
    text-align: left;
  }
}
