.program {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 33px 18px 20px;
  background-color: @color-bg-dark;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @color-base-gr;
    z-index: 1;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../img/program-slim.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../img/program-pro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 316px 57px 52px;

    &::before {
      content: "";
      position: absolute;
      top: 92px;
      right: 64px;
      left: auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: @color-base-gr;
      z-index: 1;
    }

    &--slim::after {
      content: "";
      position: absolute;
      top: 81px;
      right: 93px;
      left: auto;
      width: 140px;
      height: 194px;
      background-image: url("../../img/program-slim.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 2;
    }

    &--pro::after {
      content: "";
      position: absolute;
      top: 135px;
      right: 29px;
      left: auto;
      width: 268px;
      height: 112px;
      background-image: url("../../img/program-pro.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 61px 59px 52px;

    &::before {
      content: "";
      position: absolute;
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: @color-base-gr;
      z-index: 1;
    }

    &--slim::after {
      content: "";
      position: absolute;
      top: 41px;
      left: 67px;
      width: 70px;
      height: 97px;
      background-image: url("../../img/program-slim.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 2;
    }

    &--pro::after {
      content: "";
      position: absolute;
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
      background-image: url("../../img/program-pro.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }
}

.program__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  color: @color-title-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.program__description {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid @color-border-secondary;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    border: none;
    color: @color-title-primary;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
    text-align: left;
  }
}

.program__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 4px 47px 4px 0;
  font-family: "Oswald", sans-serif;
  color: @color-title-primary;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    box-sizing: border-box;
    width: 25px;
    height: 10px;
    background-image: url("../../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: right 0.7s, width 0.7s, opacity 0.7s;
  }

  &:hover&::after {
    right: 0;
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }

  &:active&::after {
    right: 0;
    width: 32px;
  }

  @media (min-width: @tablet-width) {
    padding-right: 57px;
    font-size: 20px;
    line-height: normal;
  }
}
