.site-list {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    column-gap: 33px;
    flex-wrap: wrap;
  }
}

.site-list--open {
  display: flex;
}
