.slider {
  position: relative;
  display: grid;
  width: 280px;
  grid-template-columns: repeat(2, 1fr);
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image {
  width: 100%;
  margin: 0 auto;
  height: 256px;
  overflow: hidden;
  object-fit: cover;

  &--before {
    object-position: top 0 right 100%;
  }

  &--after {
    object-position: top 0 right 0;
  }

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 256px;
    background-color: @color-logo;
    border-radius: 2px;
  }

  &:hover .slider__button-icon {
    color: @color-base-gr;
  }

  &:hover&::before {
    background-color: @color-base-gr;
  }

  &:active .slider__button-icon {
    color: @color-base-gr;
    opacity: 0.6;
  }

  &:active&::before {
    background-color: @color-base-gr;
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    &::before {
      height: 512px;
    }
  }
}

.slider__button-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: @color-logo;
}
